# Faculty & Staff Directory | Salisbury University

## View contact information for all faculty and staff at SU in our directory.

This website uses cookies to ensure the best user experience.
[Learn more](https://www.cookiesandyou.com)

Got It!

[Skip to Main Content](#main) [Skip to Header](#js-global-header) [Skip to Footer](#js-global-footer)

[Salisbury University](/)

- [Explore Academics](/explore-academics/)  - [Find Your Program](/explore-academics/programs/)
  - [Colleges & Schools](https://www.salisbury.edu/explore-academics/colleges-schools-and-departments.aspx)
  - [Graduate School](https://www.salisbury.edu/explore-academics/graduate-school.aspx)
  - [English Language Institute](/administration/academic-affairs/center-for-international-education/english-language-institute/)
  - [Libraries & Academic Resources](https://www.salisbury.edu/explore-academics/student-resources.aspx)
  - [Our Faculty](https://www.salisbury.edu/explore-academics/our-faculty.aspx)
  - [Regional Programs](https://www.salisbury.edu/administration/academic-affairs/regional-programs.aspx)
  - [Research](/explore-academics/research/)
  - [Study Abroad](https://www.salisbury.edu/explore-academics/study-abroad.aspx)
  - [Internships](https://www.salisbury.edu/explore-academics/internships.aspx)
- [Admissions & Aid](/admissions/)  - [Visit Campus](https://www.salisbury.edu/admissions/visit-campus.aspx)
  - [Apply Now](https://www.salisbury.edu/admissions/apply-now.aspx)
  - [Financial Aid](/admissions/financial-aid/)
  - [Cost of Attendance](/admissions/financial-aid/cost-of-attendance/)
  - [Admitted Students](https://www.salisbury.edu/admissions/admitted-students.aspx)
  - [New Student Orientation](/admissions/orientation/)
- [Experience Campus](/experience-campus/)  - [Diversity & Inclusion](https://www.salisbury.edu/experience-campus/diversity-and-inclusion.aspx)
  - [Housing & Residence Life](https://www.salisbury.edu/experience-campus/residence-life.aspx)
  - [University Dining](https://www.salisbury.edu/experience-campus/university-dining.aspx)
  - [Athletics](/experience-campus/athletics/)
  - [Clubs & Organizations](/administration/student-affairs/center-for-student-involvement-and-leadership/)
  - [Student Services](https://www.salisbury.edu/experience-campus/student-services.aspx)
  - [Events](/events/)
  - [News](/news/)
  - [Facilities](https://www.salisbury.edu/experience-campus/facilities.aspx)
- [Discover SU](/discover-su/)  - [Outcomes & Rankings](https://www.salisbury.edu/discover-su/outcomes.aspx)
  - [Mission & Values](https://www.salisbury.edu/discover-su/mission-values.aspx)
  - [Campus Leadership](https://www.salisbury.edu/discover-su/campus-leadership.aspx)
  - [Campus History](/discover-su/campus-history/)
  - [Community Outreach](/discover-su/community-outreach/)
  - [Campus Spotlights](https://www.salisbury.edu/discover-su/campus-spotlights.aspx)
  - [Offices and Departments](https://www.salisbury.edu/discover-su/offices-and-departments.aspx)
  - [Our Region](https://www.salisbury.edu/discover-su/our-region.aspx)
  - [Campus Map & Directions](/discover-su/campus-map/)

- [Calendars & Events](/events/)
- [Students](/current-students/)
- [Faculty & Staff](/employees/)
- [Alumni](/alumni/)
- [Give](https://giving.salisbury.edu/pages/salisbury-home-page)

Search Salisbury UniversitySearchSearch

Common Searches

- [Admissions](/admissions/)
- [Campus Calendars](/calendars/)
- [Employment Opportunities](/administration/administration-and-finance-offices/human-resources/careers/)
- [Majors & Minors](/explore-academics/programs/)
- [News](/news/) & [Events](/events/)

- [GullNet](/gullnet-login.aspx)
- [IT Help Desk](/administration/administration-and-finance-offices/information-technology/help-desk/)
- [Mobile Printing](/mobileprint/)
- [MyClasses](/administration/academic-affairs/instructional-design-delivery/cms/)
- [Registrar](/administration/academic-affairs/registrar/)

- [Directory (Faculty & Staff)](/faculty-and-staff/)
- [Offices & Departments](/discover-su/offices-and-departments.aspx)
- [Map of the Campus](/discover-su/campus-map/)
- [Visitor Parking](/administration/administration-and-finance-offices/financial-services/accounts-receivable-cashiers-office/parking-services/visitor-permits.aspx)
- [University Police](/police/)

![Faculty & Staff](https://www.salisbury.edu/_files/img/masthead/faculty.jpg)

Directory

## Filters

Filter By Personnel Type

- All Faculty & Staff
- Faculty
- Staff

Filter By Area

- Filter By Area


- All Schools
- Fulton School of Liberal Arts
- College of Health and Human Services
- Graduate Studies
- Henson School of Science & Technology
- Libraries
- Perdue School of Business
- Seidel School of Education

[Reset Filters](/faculty-and-staff/)

Search

- Search


- Enter search term:
Submit

Printable Directory

- Printable Directory


- [Directory (PDF)](https://webapps.salisbury.edu/directory/pdf/output/directory.pdf)
- [Front Section (PDF)](https://webapps.salisbury.edu/directory/pdf/output/Directory_front.pdf)
- [Directory Cover (PDF)](https://webapps.salisbury.edu/directory/pdf/output/DirectoryCov.pdf)

Update Request

- Request Change


- [Request a change to the online directory](https://salisbury.co1.qualtrics.com/jfe/form/SV_d5QAbPuc40kvJtA)

**Follow us on Social Media**

[Social Media Directory](/discover-su/social-media-directory.aspx)

# Faculty & Staff Directory

All Faculty & Staff

![AJAX Loading Symbol](https://www.salisbury.edu/_files/img/ajax-loader.gif)

[Visit Salisbury](https://www.salisbury.edu/admissions/visit-campus.aspx)

[Apply Now](https://www.salisbury.edu/admissions/apply-now.aspx)

[Request Info](/admissions/request-info/)

1101 Camden AvenueSalisbury, MD 21801

[410-543-6000](tel:4105436000)

- [News and Events](/news/)
- [Academic Calendar](/administration/academic-affairs/registrar/)
- [Libraries](/libraries/)

- [Give to SU](https://giving.salisbury.edu/pages/salisbury-home-page)
- [Careers](/administration/administration-and-finance-offices/human-resources/careers/)
- [Bookstore](https://www.salisbury.edu/administration/student-affairs/book-store.aspx)

- [Like Salisbury University on Facebook](https://www.facebook.com/SalisburyU/ "Like Salisbury University on Facebook")
- [Follow Us on Twitter](https://twitter.com/salisburyu "Follow Us on Twitter")
- [Connect With Salisbury University on LinkedIn](https://www.linkedin.com/school/salisbury-university/ "Connect With Salisbury University on LinkedIn")
- [Visit Salisbury University on Flickr](https://www.flickr.com/photos/supublications/ "Visit Salisbury University on Flickr")
- [Visit Salisbury University's YouTube Channel](https://www.youtube.com/user/salisburyuniversity "Visit Salisbury University's YouTube Channel")
- [Follow Salisbury University on instagram](https://www.instagram.com/salisburyuniversity/ "Follow Salisbury University on instagram")

- [Privacy](https://www.salisbury.edu/administration/general-counsel/university-policies-legal/privacy.aspx)
- [Web Accessibility](https://www.salisbury.edu/administration/general-counsel/university-policies-legal/web-accessibility.aspx)
- [Terms of Use](https://www.salisbury.edu/administration/general-counsel/university-policies-legal/terms-of-use.aspx)
- [Copyright](https://www.salisbury.edu/administration/general-counsel/university-policies-legal/copyright.aspx)
- [Student Consumer Information](https://www.salisbury.edu/administration/general-counsel/student-consumer-information.aspx)

© 2024 Salisbury University.

